body {
  padding: 0;
	margin: 0;
  font: 14px/1.5 Helvetica, Arial, sans-serif;
  color: #777;
	background: #222;
}

#form-wrp {
	position: absolute;
	top: 30px;
	left: 30px;
}

#form-wrp #zoom {
	width: 50px;
}

#form-wrp input {
	padding: 5px;
}


#copyright {
	position: absolute;
	bottom: 30px;
	left: 30px;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	font-size: 17px;
}

